# SPDX-FileCopyrightText: LoopBack Contributors
# SPDX-License-Identifier: MIT

[submodule "vendors/secvisogram"]
	path = vendors/secvisogram
	url = git@github.com:BSI-Bund/secvisogram.git
[submodule "vendors/osv-schema"]
	path = vendors/osv-schema
	url = git@github.com:ossf/osv-schema.git
